.header {
    padding-top: 11px;
    padding-bottom: 24px;

    @media screen  and (max-width: 767px) {
        padding-bottom: 15px;
        align-items: baseline;
    }
}

.header__wrapper {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen  and (max-width: 767px) {
        display: flex;
        align-items: baseline;
    }

    
}

.header__logo {
    cursor: pointer;

    @media screen  and (max-width: 767px) {
        width: 120px;
        height: 20px;

    }
}

nav ul {
    display: flex;
    font-size: 15px;

    @media screen  and (max-width: 370px) {
        display: block;
        align-items: baseline;
    }

    li {
        padding-left: 40px;
        @media screen  and (max-width: 370px) {
           margin-bottom: 10px; 
        }
    }
}

.header__link-home {
    color: #0082F3;
}

.header__link-contact {
    color: $oliver;
}
