//fonts

$font-main: "Open Sans", sans-serif;

//colors

$white: #fff;
$olive-drab: #6A859C;
$oliver: #676770;
$bg-btn-blue: #2E80B6;
$bg-btn-grow: #92A0AD;
$border: #DCEBF7;
$services-bg: #192024;
$footer-link: #668CAD;
$footer-border: #D5D5E0;
$footer-bg: #383838;
//text

$text-upper: uppercase;
